:root {
    --primary-text-color: #757575;
    --primary-logo-color: #000000;
    --primary-white-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color-footer: #2f303a;
    --background-color-secondary: #f5f4fa;
    --background-color-hero: rgba(47, 48, 58, 0.4);
    --color-text-footer: rgba(255, 255, 255, 0.6);
    --background-footer-social-color: rgba(255, 255, 255, 0.1);
    --btn-hover-color: #188ce8;
    --border-bottom-header-color: #ececec;
    --border-portf-color: #eeeeee;
    --icon-main-color: #afb1b8;
    --items: 3;
    --indent: 30px;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* outline: 2px solid tomato; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
    flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
    margin: calc(var(--indent) / 2);
}


.header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-bottom-header-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.header-logo .accent {
    color: #2196F3;
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.header-nav-list .link {
    color: var(--title-text-color);
}

.header-nav-list .link:hover,
.header-nav-list .link:focus {
    color: var(--accent-color);
}

.header-nav-list .link.current {
    color: var(--accent-color);
}

.header-nav-item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
}

.contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* HERO */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    text-align: center;
    background-color: var(--background-color-footer);
    color: var(--primary-white-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/imagen17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 32px;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--btn-hover-color);
}

/* FEATURES */
.features.section {
    padding-bottom: 0;
}

.features-list {
    --items: 4;
}

.features-list-item {
    display: block;
    flex-basis: 270px;
}

.features-list-container {
    height: 120px;
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: var(--background-color-secondary);
    border-radius: 4px;
}

.features-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features-list-text {
    line-height: 1.71;
}

/* WORKS */


.works-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.works-list {
    display: flex;
}

.works-list-item:not(:last-child) {
    margin-right: 30px;
}
.work-text {
    width: 100%;
    
    bottom: 0;
    left: 0;


    padding: 27px 0px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    ;
}

/* TEAM */
.team {
    background-color: var(--background-color-secondary);
}

.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.team-list-item {
    --items: 4;

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
}

.team-list-title,
.team-list-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list-text {
    margin-bottom: 16px;
}

.team-list-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Social links */
.social-container {
    margin-top: 16px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--icon-main-color);
    border-radius: 50%;
}

.social-link:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.social-icon {
    fill: currentColor;
}

/* CLIENTS */

.clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.clients-item {
    --items: 6;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 92px;
    color: var(--icon-main-color);
    border: 1px solid var(--icon-main-color);
    border-radius: 4px;
}

.clients-link:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}

/* FOOTER */
.footer-section {
    padding: 60px 0;
    background-color: var(--background-color-footer);
}

.footer {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color);
}

.footer-logo .accent {
    color: var(--accent-color);
}

.footer-contact-list {
    display: inline-block;
    padding-left: 0;
}

.footer-contact-item {
    margin-bottom: 9px;
}

.footer-contact-item:last-child {
    margin-bottom: 0;
}

.adress {
    color: var(--primary-white-color);
    line-height: 1.71;
    font-style: normal;
}

.adress:hover,
.adress:focus {
    color: var(--accent-color);
}

.footer-contact-link {
    color: var(--color-text-footer);
    line-height: 1.71;
    font-style: normal;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);
}

.footer-social-title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer-contact-container {
    margin-right: 70px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
}

.footer-social-item {
    background-color: var(--background-footer-social-color);
    border-radius: 50%;
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--primary-white-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.footer-social-icon {
    fill: currentColor;
}

/*---- Portfolio ----*/
/* Buttons */
.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filter-btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--background-color-secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-filter-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-filter .portfolio-filter-btn.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples */

.examples-link {
    display: block;
}

.examples-link:hover,
.examples-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        
}

.examples-container {
    display: block;
    padding: 20px 24px;
    border: 1px solid var(--border-portf-color);
    border-top: none;
}

.examples-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.examples-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.frame {
    position: relative;
    overflow: hidden;
}

.overlay {
position: absolute;
display: flex;
align-items: center;
top: 0;
left: 0;
padding: 20px;
width: 100%;
height: 100%;
background-color: rgba(33, 150, 243, 0.9);
color: #ffffff;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.examples-link:hover a .overlay .frame {
    transform: translateY(0);
}

.examples-link:hover .overlay {
    transform: translateY(0);
}

.backdrop {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);
    ;

    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(2);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;

    position: relative;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
}

.svg {
    color: #000000;
    overflow: visible;
    background-color: #2196F3;
}
svg:not(:root) {
    overflow: visible;
  }